// mixins
@mixin font-styles($font-family:'Montserrat',$font-weight:500,$font-size:30px,$line-height:47px) {
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin display-flex($flex:flex,$justify:center,$align-items:center) {
    display: $flex;
    justify-content: $justify;
    align-items: $align-items;
}

@mixin position($position:relative,$top:null,$left:null,$right:null,$bottom:null) {
    position: $position;
    top:$top;
    left:$left;
    right: $right;
    bottom: $bottom;

}

