// font-family
$font-family: 'Montserrat', 'Roboto';
$font-montserrat: 'Montserrat';

// colors
$header-background: #f4f4f4;
$text-white-color: #ffffff;
$text-black-color: #000000;
$text-link-color: #706f6f;
$btn-color: #636363;
$brand-color: #08bd99;
$timer-count-color: #b2fced;
$arrow-color: #0d5054;
$strike-price-color:#919191;
