// color
$font-family: 'Montserrat', 'Roboto';
$font-montserrat: 'Montserrat';
$header-background: #f4f4f4;
$text-white-color: #ffffff;
$text-black-color: #000000;
$text-link-color: #706f6f;
$brand-btn-color: #636363;
$count-color: #08bd99;
