@import 'variables';
@import 'mixins';
@import 'button';
@import 'linear-scroll';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-montserrat;
  background: $header-background;
  // width: 1440px;
  // height: 5107px; 
}
li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: $text-link-color;
}
// first header

.top-nav {
  background-color: $header-background;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .top-items {
    @include display-flex($justify: space-between);
    list-style: none;
    padding: 7px 30px;

    .top-item a {
      position: relative;
      margin: 0 20px;
      font-size: 14px;
      // line-height: 17px;
    }
  }
}

/* Second header */

.main-nav {
  @include display-flex($justify: space-between);
  font-family: $font-montserrat;
  background-color: $text-white-color;
  width: 100%;
  height: 69px;

  .logo {
    @include font-styles;
    padding-left: 43px;
  }

  .main-items {
    @include display-flex($justify: space-between);
    list-style: none;
    padding: 7px 30px;

    .item .hotline-section {
      display: flex;
      .hotline {
        @include font-styles($font-size: 15px);
        color: $text-black-color;
        margin-left: 5px;
        margin-top: 2px;

        .hot-number {
          @include font-styles($font-size: 10px);
        }
      }
    }
    .item .header__search {
      @include display-flex($justify:null);
      flex: 1;
      border-radius: 24px;
      height: 40px;
      width: 420px;
      .brand-btn {
        @include display-flex();
        @include position($position:relative,$left:3px,$top:0);
        width: 146px;
        height: 36px;
        color: $text-white-color;
        font-size: 15px;
        background: $btn-color;
        border-radius: 5px 0px 0px 5px;
        padding: 18px;
        border: none;
        outline: none;

        .b-logo {
          margin-left: 5px;
        }
      }
    }
    .header__searchInput {
      height: 36px;
      padding: 10px;
      border: none;
      width: 465px;
      font-size: 15px;
      border-radius: 6px;
      background: $header-background;
      outline: none;
    }

    .item .header__searchIcon {
      padding: 8px;
      height: 34px !important;
      background-color: $header-background;
      position: relative;
      right: 38px;
      top: 0;
    }
    .item .category {
      @include font-styles($font-size: 20px);
      @include display-flex();

      width: 203px;
      height: 36px;
      outline: none;
      padding: 5px;
      background: linear-gradient(90.14deg, #08b2bd 0.11%, #08bd99 99.88%);
      border-radius: 5px;
      margin: 0 15px 0 -9px;
      border: none;
      color: $text-white-color;

      .category-icon {
        margin-left: 15px;
      }
    }

    .wish {
      display: flex;
      align-items: center;

      .wish-icon {
        margin-right: -3px;
      }

      .wish-count {
        @extend %count-style;
      }
    }
    .cart {
      display: flex;
      align-items: center;

      .cart-count {
        @extend %count-style;
      }
    }
    .item a {
      position: relative;
      margin: 0 20px;
    }
  }
}

/* carrousal section */
.section-one {
  display: flex;
  background-color: $header-background;
  min-width: 100%;
  overflow: hidden;

  .left {
    width: 370px;
    margin-left: 34px;

    .all-services {
      margin-top: 20px;
    }
    .services {
      display: flex;
      align-items: center;
      background: $text-white-color;
      border-radius: 5px;
      padding: 9px;
      margin-bottom: 19px;
      margin-right: 21px;
      height: 50px;

      .service-icon {
        width: 34px;
        margin-left: 38px;
        margin-right: 21px;
      }
      .service-text {
        @include font-styles($font-size: 15px);
      }
    }
  }
  .right {
    width: 1049px;
    height: 326px;

    img {
      // margin: 20px 43px 20px 0;
       margin-top: 20px; 
      margin-right: 43px;
      margin-bottom: 20px;
      margin-left: 20px;
      width: 100%;
      height: 100%;
    }
  }
}

// sells section
.sells-section{
  background: $header-background;
  min-height: 802px;
  .flash-sells{
    position: relative;
    height: 362px;
    display: flex;
    margin-bottom: 35px;
    // justify-content: space-between;

    .flash-timer{     
      @include display-flex();

      position: relative;
      flex-direction: column;
      background: $text-white-color;
      border-radius: 5px;
      width: 183px;
      // margin-left: 33px;
      margin: 9px 18px -6px 33px;

      .text-one{
        @include font-styles($font-weight:600,$font-size:18px);

        margin-top: 2px;

      }
      .text-two{
        @include font-styles($font-size:13px);
        
        margin-bottom: 20px;
        margin-top: 4px;
      }
      .timer{
        .time{
          @include font-styles($font-size:18px);
         
          background: $timer-count-color;
          border-radius: 5px;
          padding: 7px;
        }
        .split{
          @include font-styles($font-size:20px);
          
        }
      }
      
      .bubble-top{
        @include position($top:-2px,$right:-4px);
       
      }
      .bubble-bottom{
        @include position($bottom:-3px,$left:-4px);
    
      }

    }

    .product-card{
      width: 294px;
      height: 362px;
      margin: 9px 20px 18px 0px;
      background: $text-white-color;
      border-radius: 5px;
      padding: 7px;

        .img-overlay{
          position: relative;

          .product-img{
            width: 100%;
            height: 258px;
          }
            
        }

      .product-info{
        @include display-flex($justify:space-between);
        
        margin-top: 16px;
        margin-left: 16px;
       
        .name{
          @include font-styles($font-size:16px,$font-weight:600);

          margin-bottom: 6px;
        }
        .price{
          @include font-styles($font-size:20px);
        }
        .strike-price{
          color: $strike-price-color;
          @include font-styles($font-size:12px);
        }
      
      }
      .actions{
        @include display-flex;
        margin-top: 16px;
        .cart{
          margin-right: 30px;
          margin-left: 10px;
        }
      }
    }
    
  }
}

// mall section
.mall{
  height: 540px;
  display: grid;
  grid-template-rows: 133px 92px 315px;
  padding: 0 188px;
  margin-top: 260px;
  margin-bottom: 18px;
  background: linear-gradient(90.14deg, rgba(180, 250, 255, 0.33) 0.11%, rgba(0, 255, 204, 0.5) 99.88%);

  .top{
    position: relative;
    .carrousal{
      img{
        @include position($top:-260px);
        width: 1130px;
        height: 390px;
        border-radius: 5px;
        
      }
      .offer{
        @include display-flex;
        @include position($top:-260px,$right:5px);
        flex-direction: column;
        width: 572px;
        height: 390px;
        z-index: 99;
        background: linear-gradient(262.33deg, rgba(255, 255, 255, 0.79) 31.52%, rgba(255, 255, 255, 0) 136.25%);
        box-sizing: border-box;
        backdrop-filter: blur(4px);
        border-radius: 0px 6px 6px 0px;

        &-box{

        display: flex;
        justify-content: right;
        margin-right: 70px;
        flex-direction: column;

        .offer-amount{
          @include font-styles($font-size:80px);
          text-align: right;
          color: $text-green-color;

        }
        .offer-text{
          @include font-styles($font-size:20px);
          
          text-align: right;
          color: $text-green-color;
          }
      }
      }

    }
  }
  .middle{
    @include display-flex;
    
      .left-line{
        width: 398px;
        height: 0;
        border: 1px solid rgba(1, 11, 12, 0.4);
      }
      .text-one{
        @include font-styles($font-size:35px);
        margin: 0 18px;
        
      }
  }

  .bottom{
    display: flex;
    position: relative;
    .product-card{
      height: 258px;
      background: $text-white-color;
      border-radius: 5px;
      margin-right: 11px;
      img{
        border-radius: 5px;
        padding: 5px;
      }
      .product-info{
        .name{
          @include font-styles($font-size:17px,$font-weight:600);
          
          text-align: center;
          color: $text-green-color;
          margin-top: 12px;
        }
        .info{
          @include font-styles($font-size:10px);
         
          text-align: center;
          color: $text-green-color;
          margin-bottom: 16px;
        }
      }
    }
    
  }
}

// compelling offers
.offer-product{
  position: relative;
  margin: 10px 20px 18px 0px;
  width: 294px;
  height: 362px;
  img{
    width: 292px;
    height: 289px;
    padding: 3px;
  }

    &-overlay{
      @include position($top:0);
      @include display-flex;
      
      width: 294px;
      height: 362px;
      background: rgba(255, 255, 255, 0.7);
      flex-direction: column;
      align-items: center;
      .text-one{
        @include font-styles($font-size:25px);
        
        margin-right: 123px;
        margin-top: -140px;
      }
      .text-two{
        @include font-styles($font-size:50px);
       
        color: $text-red-color;
      }
      .text-three{
        @include font-styles($font-size:25px);
        
        margin-left: 96px;
      }
      .text-four{
        @include font-styles($font-size:20px);
        @include position($bottom:19px,$left:110px);
        
      }
      img{
        @include position($bottom:19px,$left:10px);
        
        width: 88px;
        height: 80px;
        object-fit: contain;
        box-sizing: border-box;
      }
    }
}

// collections
.collection{
  position: relative;
  width: 1448px;
  height: 799px;
  background: $text-white-color;
  border-radius: 5px;
  margin: 0px 28px 46px 28px;
  padding: 96px;
  .top-bubble{
    @include position($top:0,$right:0);
    
  }
  .bottom-bubble{
    @include position($bottom:0,$left:0);
    
  }
  .top-view{
    @include display-flex($justify:space-between);
    
    margin-bottom: 11px;
    margin-top: -20px;
  
    .text-one{
      @include font-styles($font-size:30px);
     
      margin-bottom: 12px;
    }
    
  }
 
  &-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 6px;
    

    .collection-img{
      position: relative;
      z-index: 99;
      img{
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
      }
      &-overlay{
        @include position($top:0,$left:0);
        background: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        width: 625px;
        height: 194px;

        .overlay{
          @include display-flex;
          @include position($top:34%,$left:28%);
          background: linear-gradient(92.72deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5875) 35.42%, rgba(255, 255, 255, 0.2) 100%);
          border: 0.5px solid rgba(255, 255, 255, 0.81);
          box-sizing: border-box;
          backdrop-filter: blur(10px);
          border-radius: 5px;
          flex-direction: column;
          padding: 12px 39px;

          .text-two{
            @include font-styles($font-size:25px);
            
          }
          .text-three{
            @include font-styles($font-size:12px);
            
          }
                  
        }
      }
    }
  }
}

// footer
footer{
  height: 525px;
  background: $footer-bg;
  color: $text-white-color;
  display: grid;
  grid-template-columns: 1fr 1.52fr;
  position: relative;
  font-family: $font-roboto;

  .left{
    display: grid;
    align-items: center;
    margin-left: 102px;

    h3{
      @include font-styles($font-size:40px);
      padding: 2px;
      margin-top: 63px;
      color: $footer-text-color;
    }

    p{
      @include font-styles($font-size:15px,$font-weight: 400);
   
      margin-right: 80px;
      color: $footer-light-text-color;
    }
    .social-icons{
      margin-top: 20px;
      margin-bottom: 25px;
    
       img{
        
        margin: 0 11px;

          &:first-child{
            margin: 0;
          }
      }
    }
    .get-app{
      display: flex;
      margin-bottom: 90px;
      img{
        width: 107px;
        height: 107px;
        border-radius: 5px;
        margin-right: 18px;
      }
      h4{
        @include font-styles($font-size:20px);
        color: $footer-light-text-color;
       
      }
      &-info{
        display: flex;
        align-items: center;
        
        img{
          width: 27px;
          height: 27px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .app-text{
          @include font-styles($font-size:8px);
         
          color: $footer-light-text-color;
          margin-left: -8px;
          span{
            @include font-styles($font-size:12px);
           
            color: $footer-light-text-color;
          }
        }
      }
    }
    

  }

  .right{
    // display: grid;
    margin-top: 96px;
    margin-left: 93px;
    .top-footer{
      display: grid;
      // grid-template-columns: repeat(3,1fr);
      grid-template-columns: 212px 212px 246px;
      margin-bottom: 50px;

      ul{
        list-style: none;
        
        li a{
          @include font-styles($font-size:14px, $font-weight:400);
          
          color: $footer-light-text-color;
          
        }

        .first-text{
          @include font-styles($font-size:24px);
          
          color: $footer-text-color;
        }
        li:first-child{
          margin-bottom: 4px;
        }
      }
      
    }

    .bottom-footer{
      h3{
        @include font-styles($font-size:20px );
        
      }
      .payment{
        width: 74px;
        height: 38px;
        background: $footer-text-color;
        border-radius: 5px;
        padding: 5px 9px;
        object-fit: contain;
        margin-bottom: 30px;
        margin-top: 4px;
        margin-right: 8px;
      }
    }
  }
  .line{
    position: absolute;
    width: 393px;
    height: 0px;
    left: 396px;
    top: 272px;

    border: 0.5px solid rgba(227, 227, 227, 0.78);
    transform: rotate(90.15deg);
  }
}

// copyright
.copyright{
  height: 55px;
  background: $copyright-bg;
 
    ul{
      list-style: none;
      display: flex;
      margin-left: 132px;
      margin-right: 700px;
      
      li{
        display: flex;
        margin-top: 22px;
     
       a{
        margin-left: 22px;
        color: $footer-text-color;
      }
    }
  }
}

