@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  // width: 1440px;
  height: 5107px; 
}
li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: $text-link-color;
}
// first header

.top-nav {
  background-color: $header-background;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .top-items {
    @include display-flex($justify: space-between);
    list-style: none;
    padding: 7px 30px;

    .top-item a {
      position: relative;
      margin: 0 20px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

/* Second header */

.main-nav {
  @include display-flex($justify: space-between);
  background-color: $text-white-color;
  width: 100%;
  height: 69px;

  .logo {
    @include font-styles;
    padding-left: 43px;
  }

  .main-items {
    @include display-flex($justify: space-between);
    list-style: none;
    padding: 7px 30px;

    .item .hotline-section {
      display: flex;
      .hotline {
        @include font-styles($font-size: 15px, $line-height: 18px);
        color: $text-black-color;
        margin-left: 4px;

        .hot-number {
          @include font-styles($font-size: 10px, $line-height: 12px);
        }
      }
    }
    .item .header__search {
      @include display-flex($justify:null);
      flex: 1;
      border-radius: 24px;
      height: 40px;
      width: 420px;
      .brand-btn {
        @include display-flex();
        @include position($left:3px,$top:0);
        width: 146px;
        height: 36px;
        color: $text-white-color;
        font-size: 15px;
        background: $brand-btn-color;
        border-radius: 5px 0px 0px 5px;
        padding: 18px;
        border: none;
        outline: none;

        .b-logo {
          margin-left: 5px;
        }
      }
    }
    .header__searchInput {
      height: 36px;
      padding: 10px;
      border: none;
      width: 465px;
      font-size: 15px;
      border-radius: 6px;
      background: $header-background;
      outline: none;
    }

    .item .header__searchIcon {
      padding: 8px;
      height: 34px !important;
      background-color: $header-background;
      position: relative;
      right: 38px;
      top: 0;
    }
    .item .category {
      @include font-styles($font-size: 20px, $line-height: 24px);
      @include display-flex();

      width: 203px;
      height: 36px;
      outline: none;
      padding: 5px;
      background: linear-gradient(90.14deg, #08b2bd 0.11%, #08bd99 99.88%);
      border-radius: 5px;
      margin: 0 15px 0 -9px;
      border: none;
      color: $text-white-color;

      .category-icon {
        margin-left: 15px;
      }
    }

    .wish {
      display: flex;
      align-items: center;

      .wish-icon {
        margin-right: -3px;
      }

      .wish-count {
        @include position($left:-10px,$top:-10px);
        @include font-styles($font-size: 13px, $line-height: 12px);
        @include display-flex();

        width: 20px;
        height: 15px;
        text-align: center;
        border-radius: 50%;
        border: 8px solid #{$count-color};
        color: $text-white-color;
      }
    }
    .cart {
      display: flex;
      align-items: center;

      .cart-count {
        @include position($left:-8px,$top:-8px);
        @include font-styles($font-size: 13px, $line-height: 12px);
        @include display-flex();

        width: 20px;
        height: 15px;
        border-radius: 50%;
        border: 8px solid #{$count-color};
        color: $text-white-color;
      }
    }
    .item a {
      position: relative;
      margin: 0 20px;
    }
  }
}

/* carrousal section */
.section-one {
  display: flex;
  background-color: $header-background;
  min-width: 100%;
  overflow: hidden;

  .left {
    width: 370px;
    margin-left: 34px;

    .all-services {
      margin-top: 20px;
    }
    .services {
      display: flex;
      align-items: center;
      background: $text-white-color;
      border-radius: 5px;
      padding: 9px;
      margin-bottom: 19px;
      margin-right: 21px;
      height: 50px;

      .service-icon {
        width: 34px;
        margin-left: 38px;
        margin-right: 21px;
      }
      .service-text {
        @include font-styles($font-size: 15px, $line-height: 18px);
      }
    }
  }
  .right {
    width: 1049px;
    height: 326px;

    img {
      // margin: 20px 43px 20px 0;
       margin-top: 20px; 
      margin-right: 43px;
      margin-bottom: 20px;
      margin-left: 20px;
      width: 100%;
      height: 100%;
    }
  }
}

// sells section
.sells-section{
  background: $header-background;
  min-height: 802px;
  .flash-sells{
    position: relative;
    height: 362px;
    display: flex;
    margin-bottom: 35px;
    // justify-content: space-between;

    .flash-timer{     
      @include display-flex();

      position: relative;
      flex-direction: column;
      background: $text-white-color;
      border-radius: 5px;
      width: 183px;
      // margin-left: 33px;
      margin: 9px 18px -6px 33px;

      .text-one{
        @include font-styles($font-weight:600,$font-size:18px,$line-height:21px);

        margin-top: -4px;

      }
      .text-two{
        @include font-styles($font-size:13px,$line-height:16px);
        
        margin-bottom: 20px;
        margin-top: 4px;
      }
      .timer{
        .time{
          @include font-styles($font-size:18px,$line-height:24px);
         
          background: $timer-count-color;
          border-radius: 5px;
          padding: 7px;
        }
        .split{
          @include font-styles($font-size:20px,$line-height:24px);
          
        }
      }
      .shop-more-button{
        margin-top: 15px;
        margin-left: 12px;
        padding: 7px;
        background: $count-color;
        border-radius: 8px;
        color: $text-white-color;
      }

      .shadow-3{
        @include position($position:absolute,$top:-5px,$right:-5px);
       
        transform: rotate(-180deg);
       
      }
      .shadow-4{
        @include position($position:absolute,$top:-185px,$right:-6px);

      }
      .shadow-5{
        @include position($position:absolute,$bottom:0,$left:0);
        
      }
      .shadow-6{
        @include position($position:absolute,$bottom:-183px,$left:0);
        
        transform: rotate(-180deg);
      }

    }

    .product-card{
      width: 294px;
      height: 362px;
      margin: 9px 20px 18px 0px;
      background: $text-white-color;
      border-radius: 5px;
      padding: 7px;

        .img-overlay{
          position: relative;

          .product-img{
            width: 100%;
            height: 258px;
          }
            
          .free-shipping{
            @include position($position:absolute,$bottom:4px,$right:0px);
            @include display-flex($justify:space-around);

            width: 146px;
            height: 39.26px;
            background: $count-color;
            border-radius: 5px 0px;
            color: $text-white-color;
            padding: 8px;

            .free-shipping-bus{
              width: 19px;
            }

            .text-one{
              @include font-styles($font-size:13px,$line-height:15px);
            
            }
          
          }
        }

      .product-info{
        @include display-flex($justify:space-between);
        
        margin-top: 16px;
        margin-left: 16px;
       
        .name{
          @include font-styles($font-size:16px,$line-height:20px,$font-weight:600);

          margin-bottom: 6px;
        }
        .price{
          @include font-styles($font-size:20px,$line-height:24px);
        }
        .strike-price{
          color: $strike-price-color;
          @include font-styles($font-size:12px,$line-height:15px);
        }
      
      }
      .actions{
        @include display-flex;
        margin-top: 16px;
        .cart{
          margin-right: 30px;
          margin-left: 10px;
        }
      }
    }
    
    .linear-scroll{
      @include position($position:absolute,$right:6px,$top:150px);
  
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: $text-white-color;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
      .arrow{
        @include position($position:absolute,$left:37%,$top:30%);
        color: $arrow-color;
          
      }
    }
  }
}

